samplesvc-api/src/main/resources/samplesvc/xsd/inbound/survey-common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:include schemaLocation="types-common.xsd" />

  <xsd:complexType name="SurveyBase">
    <xsd:sequence>
      <xsd:element name="surveyRef" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="collectionExerciseRef" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="effectiveStartDateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
      <xsd:element name="effectiveEndDateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>